<div class="content">
  <% @messages.each do |message| %>
  <div class="summary">
     <p><%= message.user.username.capitalize %>: added  :<%= message.body %> </p>
     <!-- <a>Elliot Fu</a> added <a>Jenny Hess</a> Text Message -->
  </div>
  <% end %>
</div>
