<div>
  <table>
    <tr><th>Title</th><th>Description</th></tr>
    <tr>
      <td><%= @article.title %></td>
      <td><%= @article.description %></td>
    </tr>
  </table>
</div>

<%= link_to 'back', articles_path %>
